body
{
    width: 100vw;
    height: 100vh;
    display : flex;
    flex-direction: column;

    padding: 10px 30px;
}

.hourly_weather
{
    display : grid;
    grid-template-columns : repeat(5, 1fr);
    grid-gap: 25px;

    width: 100%;
}

.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    width: 100%;
    margin-bottom: 50px;

}


.hourly_weather_btn
{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);

    border: none;
    border-radius: 12px;
    outline: none;

    font-size: 16px;
}

.current_weather
{
    width: 98%;

    margin: 40px 10px;
    padding: 10px;

    display: grid;
    grid-template-columns : repeat(3, 1fr);

    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
}

.current_weather_stat
{
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}