/* From Uiverse.io by themrsami */
.search {
  position: relative;
  width: 290px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
}

.search_input_container {
  position: relative;
  display: flex;
  align-items: center;
  background: none;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.search_input {
  width: 100%;
  border: none;
  background: none;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  outline: none;
}

.search_input::placeholder {
  color: #aaa;
}

.search_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #333;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search_button svg {
  fill: #fff;
}

.search_button:hover {
  background-color: #555;
}

.search_input_container:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.search_input_container:focus-within {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
}

.glow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 200%;
  border-radius: 100px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent);
  transition: all 0.5s ease;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}

.search_input_container:hover + .glow {
  transform: translate(-50%, -50%) scale(1);
}

.search_input_container:focus-within + .glow {
  transform: translate(-50%, -50%) scale(1.2);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
}

.search_results
{
  position: absolute;
  visibility: hidden;
}